<div class="modal" id="confirmationModalLong" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-demo">
        <div class="modal-header">
          <h3 class="modal-title" id="confirmationModalLabel">{{title}}</h3>
          <button ng-if="isSummary" ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <button ng-if="!isSummary" ng-click="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div ng-if="!isSummary" id="reservation-confirmed">
            <p><strong>Reservation ID: #{{reservation_id}}</strong></p>
          </div>
          <div id="reservation-summary">
            <p><strong>Reservation Dates: </strong>{{start_date}} - {{end_date}}</p>
            <p><strong>Number of Days Rented: </strong>{{number_of_days_rented}}</p>
            <p><strong>Total Deposit Price: </strong>{{total_deposit_price | currency}}</p>
            <p><strong>Total Rental Price: </strong>{{total_rental_price * number_of_days_rented | currency}}</p>
          </div>
          <hr />
          <h4>Tools</h4>
          <table class="table table-sm">
            <thead class="thead-default">
            <th scope="col" ng-click="sortBy('id')">Tool ID</th>
            <th scope="col" ng-click="sortBy('description')">Description</th>
            <th scope="col" ng-click="sortBy('rental_price')">Rental Price</th>
            <th scope="col" ng-click="sortBy('deposit_price')">Deposit Price</th>
            </thead>
            <tbody>
              <tr ng-repeat="tool in toolsAdded | orderBy:propertyName:reverse">
                <td scope="row">{{tool.id}}</td>
                <td>{{tool.description}}</td>
                <td>{{tool.rental_price | currency}}</td>
                <td>{{tool.deposit_price | currency}}</td>
              </tr>
              <tr>
                <td><strong>Totals</strong></td>
                <td />
                <td>{{total_rental_price * number_of_days_rented | currency}}</td>
                <td>{{total_deposit_price | currency}}</td>
              </tr>	
            </tbody>
          </table>
        </div>
        <div ng-show="isSummary" class="modal-footer">
          <button ng-click="reset()" type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
          <button ng-click="submit()" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
