<!-- Title -->
<h1>Pickup Reservation</h1>
<!-- Display Current Reservations -->
<div ng-if="!reservations.length" class="alert alert-warning" role="alert">
    There are no reservations at this time.
</div>
<div ng-if="reservations.length">
  <table class="table table-stripped">
    <thead>
    <th scope="col">Reservation ID</th> <!-- TODO: Add popup with data -->
    <th scope="col">Customer</th>
    <th scope="col">CustomerID</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    </thead>
    <tbody>
    <tr ng-repeat="reservation in reservations">
      <th scope="row">
        <button
            popover-animation="false"
            popover-placement="right-top"
            uib-popover-html="htmlPopover($index)" class="btn btn-light">
         {{reservation.id}}
        </button>
      </th>
      <td>{{reservation.customer_name}}</td>
      <td>{{reservation.customer_id}}</td>
      <td>{{reservation.start_date}}</td>
      <td>{{reservation.end_date}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input ng-model="reservation_id" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" placeholder="Enter Reservation ID" />
  <button class="btn btn-primary" ng-click="open('lg')">Pick Up</button>
</div>
