/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.modal {
  display: block;
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
