<!-- Title -->
<h2>Check Tool Availability</h2>
<!-- Search feature -->
<ng-form name="search">
  <div class="form-row">
    <div class="form-group col-sm">
      <p class="input-group">
        <label for="start-date">Start Date:</label>
        <input ng-change="checkDate()" required type="text" class="form-control" uib-datepicker-popup ng-model="start_date" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="form-group col-sm">
      <p class="input-group">
        <label for="end-date">End Date:</label>
        <input required type="text" class="form-control" uib-datepicker-popup ng-model="end_date" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      </p>
    </div>
    <div class="form-group col-sm">
      <p class="input-group">
        <label for="keyword">Custom Search:</label>
        <input ng-model="keyword" type="text" class="form-control" id="keyword" placeholder="Enter Keyword">
      </p>
    </div>
    <div class="col-auto">
      <button ng-click="tool_search()" ng-disabled="search.$invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input ng-model="category" ng-change="getPowerSources()" class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool" value="all"> All Tools
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input ng-model="category" ng-change="getPowerSources()" class="form-check-input" type="radio" name="inlineRadioOptions" id="type-hand-tool" value="Hand"> Hand Tool
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input ng-model="category" ng-change="getPowerSources()" class="form-check-input" type="radio" name="inlineRadioOptions" id="type-garden-tool" value="Garden" > Garden Tool
      </label>
    </div>
    <div class="form-check form-check-inline ">
      <label class="form-check-label">
        <input ng-model="category" ng-change="getPowerSources()" class="form-check-input" type="radio" name="inlineRadioOptions" id="type-ladder" value="Ladder" > Ladder
      </label>
    </div>
    <div class="form-check form-check-inline ">
      <label class="form-check-label">
        <input ng-model="category" ng-change="getPowerSources()" class="form-check-input" type="radio" name="inlineRadioOptions" id="type-power-tool" value="Power" > Power Tool
      </label>
    </div>
    <!-- Select Power Source and Sub-Type -->
    <div class="input-group input-group-lg">
      <div class="form-group col-lg-7">
        <label for="power_source">Power Source:</label>
        <select type="text" class="form-control" id="power_source" data-ng-model="power_source" ng-change="getSubtypes()" data-ng-options="m as m.name for m in power_sources track by m.id">
          <option value="" selected hidden>All</option>
        </select>
      </div>

      <div class="form-group col-lg-6">
        <label for="sub_types">Sub-Type:</label>
        <select type="text" class="form-control" id="sub_types" data-ng-model="sub_type" ng-change="getSuboptions()" data-ng-options="m as m.name for m in sub_types track by m.id">
          <option value="" selected hidden>All</option>
        </select>
      </div>
    </div>
  </div>
</ng-form>
<!-- Display Available Tools For Rent-->
<div ng-if="!hasSearched">
  <div class="alert alert-info" role="alert">
    Click search to see results for tools available.
  </div>
</div>

<div ng-if="hasSearched">
  <div ng-if="!tools.length" class="alert alert-warning" role="alert">
    No tools match your search criteria.
  </div>
  <div ng-if="tools.length">
    <table class="table table-stripped">
      <thead>
      <th scope="col">Tool ID</th>
      <th scope="col">Description</th>
      <th scope="col">Rental Price</th>
      <th scope="col">Deposit Price</th>
      </thead>
      <tbody>
      <tr ng-repeat="tool in tools | filter: keyword">
        <th scope="row">{{tool.id}}</th>
        <td>
          <button
              ng-click="getTool($index)"
              uib-popover-template="dynamicPopover.templateUrl"
              type="button" class="btn btn-light"
              popover-animation="false"
              popover-placement="right"
          >
            {{tool.description}}
          </button>
        </td>
        <td>{{tool.rental_price | currency}}</td>
        <td>{{tool.deposit_price | currency}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
