<div class="container">
  <div class="alert alert-danger" role="alert" ng-hide="!hasError()">
    {{ error }}
  </div>

  <h1>Add Tool</h1>
  <form name="addtool">

    <!--<div class="form-inline">-->
    <!--<div class="form-check form-check-inline">-->
    <!--<label class="form-check-label">-->
    <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"-->
    <!--value="handTool" ng-model="category" required> Hand Tools-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="form-check form-check-inline">-->
    <!--<label class="form-check-label">-->
    <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"-->
    <!--value="gardenTool" ng-model="category" required> Garden Tools-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="form-check form-check-inline">-->
    <!--<label class="form-check-label">-->
    <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"-->
    <!--value="ladderTool" ng-model="category" required> Ladder-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="form-check form-check-inline">-->
    <!--<label class="form-check-label">-->
    <!--<input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"-->
    <!--value="powerTool" ng-model="category" required> Power Tools-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="category">Category</label>
      <select type="text" class="form-control" id="category" placeholder="Category" ng-change="getPowerSources()" ng-options="m as m.name for m in categories track by m.id" ng-model="category" required>
                        </select>
    </div>

    <div class="form-group col-md-6">
      <label for="powersource">Power Source</label>
      <select type="text" class="form-control" id="powersource" data-ng-model="powersource" ng-change="getSubtypes()" data-ng-options="m as m.name for m in powersources track by m.id" required>
            </select>
    </div>

    <div class="form-group col-md-6">
      <label for="subtypes">Sub-Type</label>
      <select type="text" class="form-control" id="subtypes" data-ng-model="subtype" ng-change="getSuboptions()" data-ng-options="m as m.name for m in subtypes track by m.id" required>
            </select>
    </div>

    <div class="form-group col-md-6">
      <label for="suboption">Sub-Option</label>
      <select type="text" class="form-control" id="suboption" data-ng-model="suboption" data-ng-options="m as m.name for m in suboptions track by m.id" required>
            </select>
    </div>

      <div class="form-group col-md-6">
        <label for="purchaseprice">Purchase Price ($)</label>
        <input type="text" class="form-control" id="purchsePrice" placeholder="Purchase Price"
        ng-minlength="1" ng-maxlength="50" name="purchasePrice" ng-model="purchaseprice"
        pattern= "^\d+\.?\d*$" required>
        <div ng-messages="purchaseprice.$dirty && purchaseprice.$error" style="color:maroon"
             role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 character</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
            <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="purchsePrice" placeholder="Philips" ng-minlength="3" ng-maxlength="50" name="manufacturer" ng-model="manufacturer" required>
      </div>


      <div class="form-group col-md-6">
        <label for="material">Material</label>
        <input type="text" class="form-control" id="material" placeholder="Material" ng-minlength="3" ng-maxlength="10" name="material" ng-model="material" required>
      </div>

      <div class="form-group col-md-6">
        <label for="weight">Weight (lbs)</label>
        <input type="text" class="form-control" id="weight" placeholder="20.53"
        ng-minlength="1" ng-maxlength="10" name="weight" ng-model="weight"
        pattern= "^\d+\.?\d*$" required>
        <div ng-messages="weight.$dirty && weight.$error" style="color:maroon"
             role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 character</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
            <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="width">Width</label>
        <input type="text" min="0" step="1"/ class="form-control" id="width" placeholder="0"
        ng-minlength="1" ng-maxlength="10" name="width" ng-model="width"
        pattern="\d+" required>

        <div ng-messages="width.$dirty && width.$error" style="color:maroon"
             role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 character</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
            <div ng-message="pattern">Must be integer</div>
        </div>
      </div>


      <div class="form-group col-md-4">
        <label for="widthfraction">Width Fraction</label>
        <select type="text" class="form-control" id="widthfraction" placeholder="0" ng-model="widthfraction" ng-options="f.value as f.name for f in fractions" required>
        </select>
      </div>


      <div class="form-group col-md-4">
        <label for="widthunit">Unit</label>
        <select type="text" class="form-control" id="widthunit" data-ng-model="widthunit" required>
          <option value="in">Inches</option>
          <option value="ft">Feet</option>
        </select>
      </div>


      <div class="form-group col-md-4">
        <label for="length">Length</label>
        <input type="text" class="form-control" id="length" placeholder="0"
        ng-minlength="1" ng-maxlength="10" name="length" ng-model="length"
        pattern="\d+" required required>
        <div ng-messages="length.$dirty && length.$error" style="color:maroon"
             role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 character</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
            <div ng-message="pattern">Must be integer</div>
        </div>
      </div>


      <div class="form-group col-md-4">
        <label for="lengthfraction">Length Fraction</label>
        <select type="text" class="form-control" id="lengthfraction" placeholder="0" ng-model="lengthfraction" ng-options="f.value as f.name for f in fractions" required>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="lengthunit">Unit</label>
        <select type="text" class="form-control" id="lengthunit" data-ng-model="lengthunit" required>
          <option value="in">Inches</option>
          <option value="ft">Feet</option>
        </select>
      </div>

      <div class="form-group col-md-6" ng-if="category.name =='Garden'">
        <label for="garden_handlematerial">Handle Material</label>
        <input type="text" class="form-control" id="garden_handlematerial" placeholder="wood" ng-minlength="3" ng-maxlength="10" name="toolobject.garden_handlematerial" ng-model="toolobject.garden_handlematerial" required>

        <div ng-messages="garden_handlematerial.$dirty && garden_handlematerial.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 3 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="category.name == 'Power'">
        <label for="powertool">Power Tool Volt Rating (V)</label>
        <select type="text" class="form-control" id="power_voltrating" data-ng-model="toolobject.power_voltrating" data-ng-options="vr for vr in get_voltrating()" required>
                </select>

        <label for="power_amprating">Power Tool Amp Rating (A)</label>
        <input type="text" class="form-control" id="power_amprating" placeholder="30"
        ng-minlength="1" ng-maxlength="10" name="power_amprating" ng-model="toolobject.power_amprating"
        pattern= "^\d+\.?\d*$" required>

        <div ng-messages="power_amprating.$dirty && power_amprating.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>

        <label for="power_minrpm">Power Tool Min RPM Rating (RPM)</label>
        <input type="text" class="form-control" id="power_minrpm" placeholder="3000"
        ng-minlength="2" ng-maxlength="10" name="power_minrpm" ng-model="toolobject.power_minrpm"
        pattern= "\d+" required>

        <div ng-messages="power_minrpm.$dirty && power_minrpm.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be an integer</div>
        </div>

        <label for="power_maxrpm">Power Tool Max RPM Rating (RPM)</label>
        <input type="text" class="form-control" id="power_maxrpm" placeholder="6000"
        ng-minlength="2" ng-maxlength="10" name="power_maxrpm" ng-model="toolobject.power_maxrpm"
        pattern= "\d+" >

        <div ng-messages="power_maxrpm.$dirty && power_maxrpm.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be an integer</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="category.name =='Ladder'">
        <label for="ladder_stepcount">Ladder Step Count (step)</label>
        <input type="number" class="form-control" id="ladder_stepcount"
        placeholder="20" ng-minlength="1" ng-maxlength="10" name="ladder_stepcount" ng-model="toolobject.ladder_stepcount"
        pattern= "\d+" required>

        <div ng-messages="ladder_stepcount.$dirty && ladder_stepcount.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be an integer</div>
        </div>

        <label for="ladder_weightcapacity">Ladder Weight Capacity (lb)</label>
        <input type="text" class="form-control" id="ladder_weightcapacity" placeholder="250"
        ng-minlength="1" ng-maxlength="10" name="ladder_weightcapacity" ng-model="toolobject.ladder_weightcapacity"
        pattern= "^\d+\.?\d*$" required>

        <div ng-messages="ladder_weightcapacity.$dirty && ladder_weightcapacity.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>


      <div class="form-group col-md-6" ng-if="subtype.name == 'Screwdriver'">
        <label for="screwdriver_drivesize">Screw Driver Drive Size (#)</label>
        <input type="number" class="form-control" id="screwdriver_drivesize" placeholder="2"
        ng-minlength="1" ng-maxlength="10" name="screwdriver_drivesize" ng-model="toolobject.screwdriver_drivesize"
        pattern= "\d+"required>

        <div ng-messages="screwdriver_drivesize.$dirty && screwdriver_drivesize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be an integer</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name == 'Socket'">
        <label for="socket_drivesize">Socket Drive Size (inch)</label>
        <input type="text" class="form-control" id="socket_drivesize" placeholder="1/2"
        ng-minlength="1" ng-maxlength="10" name="socket_drivesize" ng-model="toolobject.socket_drivesize"
        pattern = "^\d+\/\d+$" required>

        <div ng-messages="screwdriver_drivesize.$dirty && screwdriver_drivesize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a fractional number</div>
        </div>

        <label for="socket_saesize">Socket Sae Size (inch)</label>
        <input type="text" class="form-control" id="socket_saesize"
        placeholder="1/2" ng-minlength="1" ng-maxlength="10" name="socket_saesize" ng-model="toolobject.socket_saesize"
        pattern = "^\d+\/\d+$" required>

        <div ng-messages="socket_saesize.$dirty && socket_saesize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a fractional number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Ratchet'">
        <label for="rachet_drivesize">Rachet Drive Size (inch)</label>
        <input type="text" class="form-control" id="rachet_drivesize"
        placeholder="1/2" ng-minlength="1" ng-maxlength="10" name="rachet_drivesize" ng-model="toolobject.rachet_drivesize"
        pattern = "^\d+\/\d+$" required>

        <div ng-messages="rachet_drivesize.$dirty && rachet_drivesize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a fractional number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Wrench'">
        <label for="wrench_drivesize">Wrench Drive Size (inch)</label>
        <input type="text" class="form-control" id="wrench_drivesize"
        placeholder="1/2" ng-minlength="3" ng-maxlength="10" name="wrench_drivesize" ng-model="toolobject.wrench_drivesize"
        pattern = "^\d+\/\d+$" required>

        <div ng-messages="wrench_drivesize.$dirty && wrench_drivesize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 3 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a fractional number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name == 'Pliers'">
        <label for="state">Adjustable</label>
        <select type="text" class="form-control" id="pliers_adjustable" data-ng-model="toolobject.pliers_adjustable" required>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Gun'">
        <label for="handgun_gaugerating">Hand Gun Gauge Rating (G)</label>
        <input type="text" class="form-control" id="handgun_gaugerating" placeholder="18"
        ng-minlength="2" ng-maxlength="10" name="handgun_gaugerating" ng-model="toolobject.handgun_gaugerating"
        pattern = "\d+" required>

        <div ng-messages="handgun_gaugerating.$dirty && handgun_gaugerating.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be an integer</div>
        </div>

        <label for="handgun_capacity">Hand Gun Capacity</label>
        <input type="text" class="form-control" id="handgun_capacity"
        placeholder="100" ng-minlength="2" ng-maxlength="10" name="handgun_capacity" ng-model="toolobject.handgun_capacity"
        pattern = "\d+" required>

        <div ng-messages="handgun_capacity.$dirty && handgun_capacity.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be an integer</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Hammer'">
        <label for="hammer_antivibration">Anti-vibration</label>
        <select type="text" class="form-control" id="hammer_antivibration" data-ng-model="toolobject.hammer_antivibration" required>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Pruner'">
        <label for="pruner_bladematerial">Pruning Tool Blade Material</label>
        <input type="text" class="form-control" id="pruner_bladematerial" placeholder="steel" ng-minlength="3" ng-maxlength="50" name="pruner_bladematerial" ng-model="toolobject.pruner_bladematerial" required>

        <div ng-messages="pruner_bladematerial.$dirty && pruner_bladematerial.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 3 characters</div>
          <div ng-message="maxlength">Cannot have more than 50 characters</div>
        </div>

        <label for="pruner_bladelength">Pruning Tool Blade Length (inch)</label>
        <input type="text" class="form-control" id="pruner_bladelength"
        placeholder="3/8" ng-minlength="1" ng-maxlength="10" name="pruner_bladelength"
        ng-model="toolobject.pruner_bladelength"  pattern = "^\d+\/\d+$" required>

        <div ng-messages="pruner_bladelength.$dirty && pruner_bladelength.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a fractional number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Striking'">
        <label for="striking_headweight">Sriking Tool Head Weight (lb)</label>
        <input type="text" class="form-control" id="striking_headweight" placeholder="3.5"
        ng-minlength="1" ng-maxlength="10" name="striking_headweight" ng-model="toolobject.striking_headweight"
        pattern= "^\d+\.?\d*$" required>

        <div ng-messages="striking_headweight.$dirty && striking_headweight.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Digger'">
        <label for="digger_bladewidth">Digging Tool Blade Width (in)</label>
        <input type="text" class="form-control" id="digger_bladewidth"
        placeholder="9.75" ng-minlength="1" ng-maxlength="10" name="digger_bladewidth"
        ng-model="toolobject.digger_bladewidth"  pattern= "^\d+\.?\d*$" required>

        <div ng-messages="digger_bladewidth.$dirty && digger_bladewidth.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>

        <label for="digger_bladelength">Digging Tool Blade Length (in)</label>
        <input type="text" class="form-control" id="digger_bladelength" placeholder="9.75"
        ng-minlength="1" ng-maxlength="10" name="digger_bladelength" ng-model="toolobject.digger_bladelength"
        pattern= "^\d+\.?\d*$" required>

        <div ng-messages="digger_bladelength.$dirty && digger_bladelength.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Rakes'">
        <label for="rakes_tinecount">Rake Tine-count</label>
        <input type="text" class="form-control" id="rakes_tinecount"
        placeholder="14" ng-minlength="1" ng-maxlength="10" name="rakes_tinecount" ng-model="toolobject.rakes_tinecount"
        pattern= "\d+" required>

        <div ng-messages="rakes_tinecount.$dirty && rakes_tinecount.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Wheelbarrows'">
        <label for="wheelbarrow_binmaterial">Wheelbarrow Bin Material</label>
        <input type="text" class="form-control" id="wheelbarrow_binmaterial" placeholder="fiberglass" ng-minlength="3" ng-maxlength="10" name="wheelbarrow_binmaterial" ng-model="toolobject.wheelbarrow_binmaterial" required>

        <div ng-messages="wheelbarrow_binmaterial.$dirty && wheelbarrow_binmaterial.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 3 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
        </div>

        <label for="wheelbarrow_binmvolume">Wheelbarrow Bin Volume (cf)</label>
        <input type="text" class="form-control" id="wheelbarrow_binmvolume"
        placeholder="5.9" ng-minlength="3" ng-maxlength="10" name="wheelbarrow_binmvolume"
        ng-model="toolobject.wheelbarrow_binmvolume" pattern= "^\d+\.?\d*$">

        <div ng-messages="wheelbarrow_binmvolume.$dirty && wheelbarrow_binmvolume.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 3 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>

        <label for="wheelbarrow_wheelcount">Wheelbarrow Wheel Count</label>
        <input type="text" class="form-control" id="wheelbarrow_wheelcount"
        placeholder="2" ng-minlength="1" ng-maxlength="10" name="wheelbarrow_wheelcount"
        ng-model="toolobject.wheelbarrow_wheelcount" pattern= "\d+" required>

        <div ng-messages="wheelbarrow_wheelcount.$dirty && wheelbarrow_wheelcount.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Drill'">
        <div class="form-group col-md-6">
          <label for="drill_adjustableclutch">Adjustable Clutch</label>
          <select type="text" class="form-control" id="drill_adjustableclutch" data-ng-model="toolobject.drill_adjustableclutch" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>

        <label for="drill_mintorque">Drill Min Torque (ft-lb)</label>
        <input type="text" class="form-control" id="drill_mintorque"
        placeholder="80.2" ng-minlength="1" ng-maxlength="10" name="drill_mintorque"
        ng-model="toolobject.drill_mintorque" pattern= "^\d+\.?\d*$">

        <div ng-messages="drill_mintorque.$dirty && drill_mintorque.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>

        <label for="drill_maxtorque">Drill Max Torque (ft-lb)</label>
        <input type="text" class="form-control" id="drill_maxtorque"
        placeholder="800.5" ng-minlength="1" ng-maxlength="10" name="drill_maxtorque"
        ng-model="toolobject.drill_maxtorque" pattern= "^\d+\.?\d*$">

        <div ng-messages="drill_maxtorque.$dirty && drill_maxtorque.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Saw'">
        <label for="saw_bladesize">Saw Blade Size (inch)</label>
        <input type="text" class="form-control" id="saw_bladesize"
        placeholder="7.75" ng-minlength="1" ng-maxlength="10" name="saw_bladesize"
        ng-model="toolobject.saw_bladesize" pattern= "^\d+\.?\d*$" required>

        <div ng-messages="saw_bladesize.$dirty && saw_bladesize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Sander'">
        <div class="form-group col-md-6">
          <label for="sander_dustbag">Sander Dust Bag</label>
          <select type="text" class="form-control" id="sander_dustbag" data-ng-model="toolobject.sander_dustbag" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Air-Compressor'">
        <label for="aircompressor_tanksize">Air Compressor Tank Size (gal)</label>
        <input type="text" class="form-control" id="aircompressor_tanksize"
        placeholder="30" ng-minlength="1" ng-maxlength="10" name="aircompressor_tanksize"
        ng-model="toolobject.aircompressor_tanksize" pattern= "\d+" required>

        <div ng-messages="aircompressor_tanksize.$dirty && aircompressor_tanksize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>

        <label for="aircompressor_pressurerating">Air Compressor Pressure Rating (psi)</label>
        <input type="text" class="form-control" id="aircompressor_pressurerating"
        placeholder="300" ng-minlength="2" ng-maxlength="10" name="aircompressor_pressurerating"
        ng-model="toolobject.aircompressor_pressurerating" pattern= "\d+">

        <div ng-messages="aircompressor_pressurerating.$dirty && aircompressor_pressurerating.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Mixer'">
        <label for="mixer_motorrating">Mixer Motor Rating (hp)</label>
        <input type="text" class="form-control" id="mixer_motorrating"
        placeholder="1/2" ng-minlength="1" ng-maxlength="10" name="mixer_motorrating"
        ng-model="toolobject.mixer_motorrating" pattern = "^\d+\/\d+$" required>

        <div ng-messages="mixer_motorrating.$dirty && mixer_motorrating.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a fractional number</div>
        </div>

        <label for="mixer_drumsize">Mixer Drum Size (cf)</label>
        <input type="text" class="form-control" id="mixer_drumsize"
        placeholder="3.5" ng-minlength="1" ng-maxlength="10" name="mixer_drumsize"
        ng-model="toolobject.mixer_drumsize" pattern= "^\d+\.?\d*$">

        <div ng-messages="mixer_drumsize.$dirty && mixer_drumsize.$error" style="color:maroon" role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
          <div ng-message="pattern">Must be a number</div>
        </div>

        <div class="form-group col-md-6" ng-if="subtype.name == 'Generator'">
          <label for="GeneratorPowerRating">Generator Power Rating (Watt)</label>
          <input type="text" class="form-control" id="GeneratorPowerRating"
          placeholder="30" ng-minlength="1" ng-maxlength="10" name="GeneratorPowerRating"
          ng-model="toolobject.generator_powerrating" pattern= "\d+" required>

          <div ng-messages="GeneratorPowerRating.$dirty && GeneratorPowerRating.$error" style="color:maroon" role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
            <div ng-message="pattern">Must be a number</div>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Straight'">
        <div class="form-group col-md-6">
          <label for="state">Straight Ladder Rubber Feet</label>
          <select type="text" class="form-control" id="straight_rubberfeet" data-ng-model="toolobject.straight_rubberfeet" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="subtype.name =='Step'">
        <div class="form-group col-md-6">
          <label for="state">Step Ladder Pail Shelf</label>
          <select type="text" class="form-control" id="step_pailshelf" data-ng-model="toolobject.step_pailshelf" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-6" ng-if="category.name == 'Power'">
        <div ng-repeat="accessory in accessories">
          <label for="accessory">Accessory</label>
          <select type="text" class="form-control" id="accessory" ng-model="accessory.desc" data-ng-options="desc for desc in accessory_description()" required></select>
          <label for="accessory_quantity">Quantity</label>
          <input type="number" class="form-control" id="accessory_quantity" placeholder="1" name="accessory_quantity" ng-model="accessory.quantity" required>
        </div>
        <button ng-click="add_accessory()">Add Accessory</button>
      </div>
  </form>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="!(addtool.$valid)" class="btn btn-primary" ng-click="addtools()">
        Confirm
    </button>
  </div>
