<div class="container" data-ng-controller="AddToolCtrl as vm">
  <div class="alert alert-danger" role="alert" ng-hide="!vm.hasError()">
    {{ vm.error }}
  </div>

<h1>Add Tool</h1>
<form name="addtool">

  <div class="form-inline">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"
                value="handTool" ng-model="category" required> Hand Tools
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"
                value="gardenTool" ng-model="category" required> Garden Tools
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"
                value="ladderTool" ng-model="category" required> Ladder
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool"
                value="powerTool" ng-model="category" required> Power Tools
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6" ng-if = "category == 'powerTool'">
      <label for="state">Power Tool Accessories</label>
        <select type="text" class="form-control" id="power_accessories" ng-model="poweraccessories"
        data-ng-options="pa for pa in powertoolassessories()" required>
        </select>

      <label for="accessory_description">Accessory Description</label>
        <input type="text" class="form-control" id="accessory_description" placeholder="16V battery"
             ng-minlength="3"
             ng-maxlength="50"
             name="accessory_description"
             ng-model="accessory_description" required>
    </div>

    <div class="form-group col-md-6">
      <label for="state">Sub-Type</label>
        <select type="text" class="form-control" id="subtypes" data-ng-model="subtype"
        data-ng-options="st for st in subtypes(category) " required>
        </select>
    </div>

    <div class="form-group col-md-6">
      <label for="state">Sub-Option</label>
        <select type="text" class="form-control" id="suboption" data-ng-model="suboption"
        data-ng-options="so for so in suboptions()" required>
        </select>
    </div>

    <div class="form-group col-md-6">
      <label for="purchaseprice">Purchase Price ($)</label>
        <input type="text" class="form-control" id="purchsePrice" placeholder="Purchase Price"
             ng-minlength="3"
             ng-maxlength="50"
             name="purchasePrice"
             ng-model="purchaseprice" required>
    </div>

    <div class="form-group col-md-6">
      <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="purchsePrice" placeholder="Purchase Price"
             ng-minlength="3"
             ng-maxlength="50"
             name="manufacturer"
             ng-model="manufacturer" required>
    </div>

    <div class="form-group col-md-4">
      <label for="powersource">Power Source</label>
      <select type="text" class="form-control" id="powersource" data-ng-model="powersource"
      data-ng-options="ps for ps in powersources()" required>
        </select>
    </div>

    <div class="form-group col-md-4">
      <label for="material">Material</label>
        <input type="text" class="form-control" id="material" placeholder="Material"
             ng-minlength="3"
             ng-maxlength="10"
             name="material"
             ng-model="material" required>
    </div>

    <div class="form-group col-md-4">
      <label for="Weight">Weight (lbs)</label>
        <input type="text" class="form-control" id="weight" placeholder="Weight"
             ng-minlength="3"
             ng-maxlength="10"
             name="weight"
             ng-model="weight" required>
    </div>

    <div class="form-group col-md-4">
      <label for="width">Width</label>
        <input type="text" class="form-control" id="purchsePrice" placeholder="Width"
             ng-minlength="3"
             ng-maxlength="10"
             name="manufacturer"
             ng-model="width" required>
    </div>


  <div class="form-group col-md-4">
    <label for="state">Width Fraction</label>
      <select type="text" class="form-control" id="subtypes" data-ng-model="widthfraction" required>
        <option value="0">0</option>
        <option value="1/8">1/8</option>
        <option value="1/4">1/4</option>
        <option value="3/8">3/8</option>
        <option value="1/2">1/2</option>
        <option value="5/8">5/8</option>
        <option value="3/4">3/4</option>
      </select>
  </div>


  <div class="form-group col-md-4">
    <label for="state">Unit</label>
      <select type="text" class="form-control" id="widthunit" data-ng-model="widthunit" required>
        <option value="in">Inches</option>
        <option value="ft">Feet</option>
      </select>
  </div>


    <div class="form-group col-md-4">
      <label for="length">Length</label>
        <input type="text" class="form-control" id="length" placeholder="Length"
             ng-minlength="3"
             ng-maxlength="10"
             name="length"
             ng-model="length" required>
    </div>


    <div class="form-group col-md-4">
      <label for="state">Length Fraction</label>
        <select type="text" class="form-control" id="lengthfraction" data-ng-model="lengthfraction" required>
          <option value="0">0</option>
          <option value="1/8">1/8</option>
          <option value="1/4">1/4</option>
          <option value="3/8">3/8</option>
          <option value="1/2">1/2</option>
          <option value="5/8">5/8</option>
          <option value="3/4">3/4</option>
        </select>
    </div>

    <div class="form-group col-md-4">
      <label for="state">Unit</label>
        <select type="text" class="form-control" id="lengthunit" data-ng-model="lengthunit" required>
          <option value="in">Inches</option>
          <option value="ft">Feet</option>
        </select>
    </div>

    <div class="form-group col-md-6" ng-if = "category =='gardenTool'">
      <label for="garden_handlematerial">Handle Material</label>
        <input type="text" class="form-control" id="garden_handlematerial" placeholder="wood"
             ng-minlength="3"
             ng-maxlength="10"
             name="garden_handlematerial"
             ng-model="$scope.garden_handlematerial" required>

      <div ng-messages="user.garden_handlematerial.$dirty && user.garden_handlematerial.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 3 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>

    <div class="form-group col-md-6" ng-if = "category =='powerTool'">
      <label for="state">Power Tool Volt Rating (V)</label>
        <select type="text" class="form-control" id="power_voltrating" data-ng-model="power_voltrating" required>
          <option value="110">110</option>
          <option value="120">120</option>
          <option value="220">220</option>
          <option value="240">240</option>
        </select>

      <label for="power_amprating">Power Tool Amp Rating (A)</label>
        <input type="text" class="form-control" id="power_amprating" placeholder="30"
             ng-minlength="1"
             ng-maxlength="10"
             name="power_amprating"
             ng-model="$scope.power_amprating" required>

        <div ng-messages="user.power_amprating.$dirty && user.power_amprating.$error" style="color:maroon"
             role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 1 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
        </div>

      <label for="power_minrpm">Power Tool Min RPM Rating (RPM)</label>
        <input type="text" class="form-control" id="power_minrpm" placeholder="3000"
             ng-minlength="2"
             ng-maxlength="10"
             name="power_minrpm"
             ng-model="$scope.power_minrpm" required>

        <div ng-messages="user.power_minrpm.$dirty && user.power_minrpm.$error" style="color:maroon"
             role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 2 characters</div>
          <div ng-message="maxlength">Cannot have more than 10 characters</div>
        </div>

        <label for="power_maxrpm">Power Tool Max RPM Rating (RPM)</label>
          <input type="text" class="form-control" id="power_maxrpm" placeholder="6000"
               ng-minlength="2"
               ng-maxlength="10"
               name="power_maxrpm"
               ng-model="$scope.power_maxrpm">

          <div ng-messages="user.power_maxrpm.$dirty && user.power_maxrpm.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 2 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
        </div>
      </div>

    <div class="form-group col-md-6" ng-if = "category =='ladderTool'">
      <label for="ladder_stepcount">Ladder Step Count (step)</label>
        <input type="text" class="form-control" id="ladder_stepcount" placeholder="20"
             ng-minlength="1"
             ng-maxlength="10"
             name="ladder_stepcount"
             ng-model="$scope.ladder_stepcount" required>

      <div ng-messages="user.ladder_stepcount.$dirty && user.ladder_stepcount.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 1 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>

      <label for="ladder_weightcapacity">Ladder Weight Capacity (lb)</label>
        <input type="text" class="form-control" id="ladder_weightcapacity" placeholder="250"
             ng-minlength="1"
             ng-maxlength="10"
             name="ladder_weightcapacity"
             ng-model="$scope.ladder_weightcapacity" required>

      <div ng-messages="user.ladder_weightcapacity.$dirty && user.ladder_weightcapacity.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 1 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>


    <div class="form-group col-md-6" ng-if = "subtype =='Screwdriver'">
      <label for="screwdriver_drivesize">Screw Driver Drive Size (#)</label>
        <input type="text" class="form-control" id="screwdriver_drivesize" placeholder="2"
             ng-minlength="3"
             ng-maxlength="10"
             name="screwdriver_drivesize"
             ng-model="$scope.screwdriver_drivesize" required>

      <div ng-messages="user.screwdriver_drivesize.$dirty && user.screwdriver_drivesize.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 3 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>

    <div class="form-group col-md-6" ng-if = "subtype =='Socket'">
      <label for="socket_drivesize">Socket Drive Size (inch)</label>
        <input type="text" class="form-control" id="socket_drivesize" placeholder="1/2"
             ng-minlength="3"
             ng-maxlength="10"
             name="socket_drivesize"
             ng-model="$scope.socket_drivesize" required>

      <div ng-messages="user.screwdriver_drivesize.$dirty && user.screwdriver_drivesize.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 3 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>

      <label for="socket_saesize">Socket Sae Size (inch)</label>
        <input type="text" class="form-control" id="socket_saesize" placeholder="1/2"
             ng-minlength="3"
             ng-maxlength="10"
             name="socket_saesize"
             ng-model="$scope.socket_saesize" required>

      <div ng-messages="user.socket_saesize.$dirty && user.socket_saesize.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 3 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>

    <div class="form-group col-md-6" ng-if = "subtype =='Ratchet'">
      <label for="rachet_drivesize">Rachet Drive Size (inch)</label>
        <input type="text" class="form-control" id="rachet_drivesize" placeholder="1/2"
             ng-minlength="3"
             ng-maxlength="10"
             name="rachet_drivesize"
             ng-model="$scope.rachet_drivesize" required>

      <div ng-messages="user.rachet_drivesize.$dirty && user.rachet_drivesize.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 3 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>

    <div class="form-group col-md-6" ng-if = "subtype =='Wrench'">
      <label for="wrench_drivesize">Wrench Drive Size (inch)</label>
        <input type="text" class="form-control" id="wrench_drivesize" placeholder="1/2"
             ng-minlength="3"
             ng-maxlength="10"
             name="wrench_drivesize"
             ng-model="$scope.wrench_drivesize" required>

      <div ng-messages="user.wrench_drivesize.$dirty && user.wrench_drivesize.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 3 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>

    <div class="form-group col-md-6" ng-if = "subtype =='Pliers'">
      <label for="state">Adjustable</label>
        <select type="text" class="form-control" id="pliers_adjustable" data-ng-model="pliers_adjustable" required>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
    </div>

    <div class="form-group col-md-6" ng-if = "subtype =='Gun'">
      <label for="handgun_gaugerating">Hand Gun Gauge Rating (G)</label>
        <input type="text" class="form-control" id="handgun_gaugerating" placeholder="18"
             ng-minlength="2"
             ng-maxlength="10"
             name="handgun_gaugerating"
             ng-model="$scope.handgun_gaugerating" required>

      <div ng-messages="user.handgun_gaugerating.$dirty && user.handgun_gaugerating.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 2 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>

      <label for="handgun_capacity">Hand Gun Capacity</label>
        <input type="text" class="form-control" id="handgun_capacity" placeholder="100"
             ng-minlength="2"
             ng-maxlength="10"
             name="handgun_capacity"
             ng-model="$scope.handgun_capacity" required>

      <div ng-messages="user.handgun_capacity.$dirty && user.handgun_capacity.$error" style="color:maroon"
           role="alert">
        <div ng-message="required">This field must not be empty</div>
        <div ng-message="minlength">Must have at least 2 characters</div>
        <div ng-message="maxlength">Cannot have more than 10 characters</div>
      </div>
    </div>

      <div class="form-group col-md-6" ng-if = "subtype =='Hammer'">
        <label for="state">Anti-vibration</label>
          <select type="text" class="form-control" id="hammer_antivibration" data-ng-model="hammer_antivibration" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
      </div>

      <div class="form-group col-md-6" ng-if = "subtype =='Pruner'">
        <label for="pruner_bladematerial">Pruning Tool Blade Material</label>
          <input type="text" class="form-control" id="pruner_bladematerial" placeholder="steel"
               ng-minlength="3"
               ng-maxlength="50"
               name="pruner_bladematerial"
               ng-model="$scope.pruner_bladematerial" required>

        <div ng-messages="user.pruner_bladematerial.$dirty && user.pruner_bladematerial.$error" style="color:maroon"
             role="alert">
          <div ng-message="required">This field must not be empty</div>
          <div ng-message="minlength">Must have at least 3 characters</div>
          <div ng-message="maxlength">Cannot have more than 50 characters</div>
        </div>

          <label for="pruner_bladelength">Pruning Tool Blade Length (inch)</label>
            <input type="text" class="form-control" id="pruner_bladelength" placeholder="5-1/8"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="pruner_bladelength"
                 ng-model="$scope.pruner_bladelength" required>

          <div ng-messages="user.pruner_bladelength.$dirty && user.pruner_bladelength.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 2 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Striking'">
          <label for="striking_headweight">Sriking Tool Head Weight (lb)</label>
            <input type="text" class="form-control" id="striking_headweight" placeholder="3.5"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="striking_headweight"
                 ng-model="$scope.striking_headweight" required>

          <div ng-messages="user.striking_headweight.$dirty && user.striking_headweight.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Digger'">
          <label for="digger_bladewidth">Digging Tool Blade Width (in)</label>
            <input type="text" class="form-control" id="digger_bladewidth" placeholder="9-3/4"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="digger_bladewidth"
                 ng-model="$scope.digger_bladewidth" required>

          <div ng-messages="user.digger_bladewidth.$dirty && user.digger_bladewidth.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <label for="digger_bladelength">Digging Tool Blade Length (in)</label>
            <input type="text" class="form-control" id="digger_bladelength" placeholder="9-3/4"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="digger_bladelength"
                 ng-model="$scope.digger_bladelength" required>

          <div ng-messages="user.digger_bladelength.$dirty && user.digger_bladelength.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Rakes'">
          <label for="rakes_tinecount">Rake Tine-count</label>
            <input type="text" class="form-control" id="rakes_tinecount" placeholder="14"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="rakes_tinecount"
                 ng-model="$scope.rakes_tinecount" required>

          <div ng-messages="user.rakes_tinecount.$dirty && user.rakes_tinecount.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Wheelbarrows'">
          <label for="wheelbarrow_binmaterial">Wheelbarrow Bin Material</label>
            <input type="text" class="form-control" id="wheelbarrow_binmaterial" placeholder="fiberglass"
                 ng-minlength="3"
                 ng-maxlength="10"
                 name="wheelbarrow_binmaterial"
                 ng-model="$scope.wheelbarrow_binmaterial" required>

          <div ng-messages="user.wheelbarrow_binmaterial.$dirty && user.wheelbarrow_binmaterial.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 3 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <label for="wheelbarrow_binmvolume">Wheelbarrow Bin Volume (cf)</label>
            <input type="text" class="form-control" id="wheelbarrow_binmvolume" placeholder="5.9"
                 ng-minlength="3"
                 ng-maxlength="10"
                 name="wheelbarrow_binmvolume"
                 ng-model="$scope.wheelbarrow_binmvolume">

          <div ng-messages="user.wheelbarrow_binmvolume.$dirty && user.wheelbarrow_binmvolume.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 3 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <label for="wheelbarrow_wheelcount">Wheelbarrow Wheel Count</label>
            <input type="text" class="form-control" id="wheelbarrow_wheelcount" placeholder="2"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="wheelbarrow_wheelcount"
                 ng-model="$scope.wheelbarrow_wheelcount" required>

          <div ng-messages="user.wheelbarrow_wheelcount.$dirty && user.wheelbarrow_wheelcount.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Drill'">
          <div class="form-group col-md-6">
            <label for="state">Adjustable Clutch</label>
              <select type="text" class="form-control" id="drill_adjustableclutch" data-ng-model="drill_adjustableclutch" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
          </div>

          <label for="drill_mintorque">Drill Min Torque (ft-lb)</label>
            <input type="text" class="form-control" id="drill_mintorque" placeholder="80"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="drill_mintorque"
                 ng-model="$scope.drill_mintorque">

          <div ng-messages="user.drill_mintorque.$dirty && user.drill_mintorque.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <label for="drill_maxtorque">Drill Max Torque (ft-lb)</label>
            <input type="text" class="form-control" id="drill_maxtorque" placeholder="800"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="drill_maxtorque"
                 ng-model="$scope.drill_maxtorque">

          <div ng-messages="user.drill_maxtorque.$dirty && user.drill_maxtorque.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Saw'">
          <label for="saw_bladesize">Saw Blade Size (inch)</label>
            <input type="text" class="form-control" id="saw_bladesize" placeholder="7-3/4"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="saw_bladesize"
                 ng-model="$scope.saw_bladesize" required>

          <div ng-messages="user.saw_bladesize.$dirty && user.saw_bladesize.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Sander'">
          <div class="form-group col-md-6">
            <label for="state">Sander Dust Bag</label>
              <select type="text" class="form-control" id="sander_dustbag" data-ng-model="sander_dustbag" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='AirCompressor'">
          <label for="aircompressor_tanksize">Air Compressor Tank Size (gal)</label>
            <input type="text" class="form-control" id="aircompressor_tanksize" placeholder="30"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="aircompressor_tanksize"
                 ng-model="$scope.aircompressor_tanksize" required>

          <div ng-messages="user.aircompressor_tanksize.$dirty && user.aircompressor_tanksize.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <label for="aircompressor_pressurerating">Air Compressor Pressure Rating (psi)</label>
            <input type="text" class="form-control" id="aircompressor_pressurerating" placeholder="300"
                 ng-minlength="2"
                 ng-maxlength="10"
                 name="aircompressor_pressurerating"
                 ng-model="$scope.aircompressor_pressurerating">

          <div ng-messages="user.aircompressor_pressurerating.$dirty && user.aircompressor_pressurerating.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 2 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>
        </div>

        <div class="form-group col-md-6" ng-if = "subtype =='Mixer'">
          <label for="mixer_motorrating">Mixer Motor Rating (hp)</label>
            <input type="text" class="form-control" id="mixer_motorrating" placeholder="1/2"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="mixer_motorrating"
                 ng-model="$scope.mixer_motorrating" required>

          <div ng-messages="user.mixer_motorrating.$dirty && user.mixer_motorrating.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <label for="mixer_drumsize">Mixer Drum Size (cf)</label>
            <input type="text" class="form-control" id="mixer_drumsize" placeholder="3.5"
                 ng-minlength="1"
                 ng-maxlength="10"
                 name="mixer_drumsize"
                 ng-model="$scope.mixer_drumsize" >

          <div ng-messages="user.mixer_drumsize.$dirty && user.mixer_drumsize.$error" style="color:maroon"
               role="alert">
            <div ng-message="required">This field must not be empty</div>
            <div ng-message="minlength">Must have at least 1 characters</div>
            <div ng-message="maxlength">Cannot have more than 10 characters</div>
          </div>

          <div class="form-group col-md-6" ng-if = "subtype =='Generator'">
            <label for="generator_powerrating">Generator Power Rating (Watt)</label>
              <input type="text" class="form-control" id="mixer_motorrating" placeholder="30"
                   ng-minlength="1"
                   ng-maxlength="10"
                   name="mixer_motorrating"
                   ng-model="$scope.generator_powerrating" required>

            <div ng-messages="user.generator_powerrating.$dirty && user.generator_powerrating.$error" style="color:maroon"
                 role="alert">
              <div ng-message="required">This field must not be empty</div>
              <div ng-message="minlength">Must have at least 1 characters</div>
              <div ng-message="maxlength">Cannot have more than 10 characters</div>
            </div>
          </div>
        </div>

          <div class="form-group col-md-6" ng-if = "subtype =='Straight'">
            <div class="form-group col-md-6">
              <label for="state">Straight Ladder Rubber Feet</label>
                <select type="text" class="form-control" id="straight_rubberfeet" data-ng-model="straight_rubberfeet" required>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
            </div>
          </div>

          <div class="form-group col-md-6" ng-if = "subtype =='Step'">
            <div class="form-group col-md-6">
              <label for="state">Step Ladder Pail Shelf</label>
                <select type="text" class="form-control" id="step_pailshelf" data-ng-model="step_pailshelf" required>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
            </div>
          </div>
</form>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary"
          ng-click="$scope.addtool()">
      Confirm
  </button>
</div>
