<!-- Title -->
<h2>Add Tool</h2>
<!-- Search feature -->
<form>
  <div class="form-inline">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-all-tool" value="option1"> All Tools
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-hand-tool" value="option2"> Hand Tool
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-garden-tool" value="option3" > Garden Tool
      </label>
    </div>
    <div class="form-check form-check-inline ">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-ladder" value="option4" > Ladder
      </label>
    </div>
    <div class="form-check form-check-inline ">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="type-power-tool" value="option5" > Power Tool
      </label>
    </div>
    <!-- Select Power Source and Sub-Type -->
    <label for="power-source">Power Source:</label>
    <select class="form-control" id="power-source">
      <option>Drill</option>
    </select>
    <label for="sub-type">Sub-Type:</label>
    <select class="form-control" id="sub-type">
      <option>Type</option>
    </select>
  </div>
</form>
<!-- Display Available Tools For Rent-->
<h2>Available Tools For Rent</h2>
<div ng-if="!hasSearched">
  <div class="alert alert-info" role="alert">
    Click search to see results for tools available.
  </div>
</div>

<div ng-if="hasSearched">
  <div ng-if="!tools.length" class="alert alert-warning" role="alert">
    No tools match your search criteria.
  </div>
  <div ng-if="tools.length">
    <table class="table table-stripped">
      <thead>
        <th scope="col">Tool ID</th>
        <th scope="col">Description</th>
        <th scope="col">Rental Price</th>
        <th scope="col">Deposit Price</th>
        <th scope="col">Add</th>
      </thead>
      <tbody>
        <tr ng-repeat="tool in tools">
          <th scope"row">{{tool.id}}</th>
          <td>{{tool.description}}</td>
          <td>{{tool.rental_price}}</td>
          <td>{{tool.deposit_price}}</td>
          <td ng-click="addTool($index)"><input type="checkbox" aria-label="Add" ng-model="tool.added"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />
<h2>Tools Added to Reservation</h2>
<div>
  <table class="table table-stripped">
    <thead>
      <th scope="col">Tool ID</th>
      <th scope="col">Description</th>
      <th scope="col">Rental Price</th>
      <th scope="col">Deposit Price</th>
      <th scope="col">Remove</th>
    </thead>
    <tbody>
      <tr ng-repeat="tool in toolsAdded">
        <th scope"row">{{tool.id}}</th>
        <td>{{tool.description}}</td>
        <td>{{tool.rental_price}}</td>
        <td>{{tool.deposit_price}}</td>
        <td ng-click="removeTool($index)"><input type="checkbox" aria-label="Remove"></td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-primary" ng-click="open('lg')">Calculate Total</button>
